body {
    background-color: #333333 !important;
}

.congressman{
  float: left;
  width: 25%;
  background-color: #333333;
}

div#mainContents{
  float: left;
  width: 50%;
}
div#congressInfo{
  width: 50%;
  background-color: #ffffff;
}
