body {
    background-color: #333333 !important;
}

.congressman{
  float: left;
  width: 30%;
  background-color: #333333;
}

div#mainContents{
  float: left;
  width: 40%;
}

div#congressInfo{
  padding: 10px;
}

div#congressInfo table{
  color: #ffffff;
}

thead th {
  text-align:center !important;
}